<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=decide-width" />
        <title>Coffee Shop</title>
    </head>
    <body>
        <div>
        @RenderBody()
        </div>
    </body>
</html>
