@model IEnumerable<coffeeshop.Models.Product>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html>
<head>
    <title>Coffee Shop</title>
</head>
<body>
    <h1>Shop Coffee</h1>
    <div class="container">
        @foreach (var item in Model)
        {
            <div class="single-product">
                <img width="100" src="@item.ImageUrl" />
                <a asp-controller="Products" asp-action="Detail" asp-routeid="@item.Id" target="_blank"><h3> @item.Name</h3></a>
                <p> @item.Price.ToString("C") </p>
            </div>
        } 
    </div>
    <section data-bs-version="5.1" class="content2 cid-tsEZVFGbrL" id="content2-g">


        <div class="container">
            <div class="mbr-section-head">

                <h5 class="mbr-section-subtitle mbr-fonts-style align-center mb-0 mt-2 display-5">
                    The secret to a
                    perfect cup , every time...
                </h5>
            </div>
            <div class="row mt-4">
                <div class="item features-image сol-12 col-md-6 col-lg-4">
                    <div class="item-wrapper">
                        <div class="item-img">
                            <img src="assets/images/giancarlo-duarte-rthw0pwclhw-unsplash-815x543.jpg" alt="Coffee Shop"
                                 title="">
                        </div>
                        <div class="item-content">

                            <h6 class="item-subtitle mbr-fonts-style mt-1 display-7"><strong>Latte</strong></h6>
                            <p class="mbr-text mbr-fonts-style mt-3 display-7">35 $</p>
                        </div>
                        <div class="mbr-section-btn item-footer mt-2">
                            <a href=""
                               class="btn btn-primary item-btn display-4" target="_self">
                                <span class="mbrib-cart-add mbr-iconfont mbr-iconfont-btn"></span>Add to cart&nbsp;
                            </a>
                        </div>
                    </div>
                </div>
                <div class="item features-image сol-12 col-md-6 col-lg-4">
                    <div class="item-wrapper">
                        <div class="item-img">
                            <img src="assets/images/mohammad-amirahmadi-tk2ifgn60xo-unsplash-815x1019.jpg"
                                 alt="Coffee Shop" title="" data-slide-to="2" data-bs-slide-to="3">
                        </div>
                        <div class="item-content">

                            <h6 class="item-subtitle mbr-fonts-style mt-1 display-7"><strong>Latte</strong></h6>
                            <p class="mbr-text mbr-fonts-style mt-3 display-7">35 $</p>
                        </div>
                        <div class="mbr-section-btn item-footer mt-2">
                            <a href=""
                               class="btn btn-primary item-btn display-4" target="_self">
                                <span class="mbrib-cart-add mbr-iconfont mbr-iconfont-btn"></span>Add to cart&nbsp;
                            </a>
                        </div>
                    </div>
                </div>
                <div class="item features-image сol-12 col-md-6 col-lg-4">
                    <div class="item-wrapper">
                        <div class="item-img">
                            <img src="assets/images/mohammad-amirahmadi-tk2ifgn60xo-unsplash-815x1019.jpg"
                                 alt="Coffee Shop" title="" data-slide-to="3" data-bs-slide-to="4">
                        </div>
                        <div class="item-content">

                            <h6 class="item-subtitle mbr-fonts-style mt-1 display-7"><strong>Latte</strong></h6>
                            <p class="mbr-text mbr-fonts-style mt-3 display-7">35 $</p>
                        </div>
                        <div class="mbr-section-btn item-footer mt-2">
                            <a href=""
                               class="btn btn-primary item-btn display-4" target="_self">
                                <span class="mbrib-cart-add mbr-iconfont mbr-iconfont-btn"></span>Add to cart&nbsp;
                            </a>
                        </div>
                    </div>
                </div>
                <div class="item features-image сol-12 col-md-6 col-lg-4">
                    <div class="item-wrapper">
                        <div class="item-img">
                            <img src="assets/images/mohammad-amirahmadi-tk2ifgn60xo-unsplash-815x1019.jpg"
                                 alt="Coffee Shop" title="" data-slide-to="4" data-bs-slide-to="5">
                        </div>
                        <div class="item-content">

                            <h6 class="item-subtitle mbr-fonts-style mt-1 display-7"><strong>Latte</strong></h6>
                            <p class="mbr-text mbr-fonts-style mt-3 display-7">35 $</p>
                        </div>
                        <div class="mbr-section-btn item-footer mt-2">
                            <a href=""
                               class="btn btn-primary item-btn display-4" target="_self">
                                <span class="mbrib-cart-add mbr-iconfont mbr-iconfont-btn"></span>Add to cart&nbsp;
                            </a>
                        </div>
                    </div>
                </div>
                <div class="item features-image сol-12 col-md-6 col-lg-4">
                    <div class="item-wrapper">
                        <div class="item-img">
                            <img src="assets/images/mohammad-amirahmadi-tk2ifgn60xo-unsplash-815x1019.jpg"
                                 alt="Coffee Shop" title="" data-slide-to="5" data-bs-slide-to="6">
                        </div>
                        <div class="item-content">

                            <h6 class="item-subtitle mbr-fonts-style mt-1 display-7"><strong>Latte</strong></h6>
                            <p class="mbr-text mbr-fonts-style mt-3 display-7">35 $</p>
                        </div>
                        <div class="mbr-section-btn item-footer mt-2">
                            <a href=""
                               class="btn btn-primary item-btn display-4" target="_self">
                                <span class="mbrib-cart-add mbr-iconfont mbr-iconfont-btn"></span>Add to cart&nbsp;
                            </a>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>
</body>
</html>